################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project/.vs/MySleepBook/v14
/Project/MySleepBook/MySleepBook/bin/Debug
/Project/MySleepBook/MySleepBook/obj/Debug
/Project/MySleepBook/MySleepBook.Droid/bin/Debug
/Project/MySleepBook/MySleepBook.Droid/obj/Debug
/Project/MySleepBook/MySleepBook.UWP/bin
/Project/MySleepBook/MySleepBook.UWP/obj
/Project/packages
/Project/MySleepBook/MySleepBook/bin/Release
/Project/MySleepBook/MySleepBook/obj/Release
/Project/MySleepBook/MySleepBook.Droid/obj/Release
